{{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <!--Card Header Here!!!!-->
          <div class="card-header card-header-primary">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#education" data-toggle="tab" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#skills" data-toggle="tab" class="nav-link">Skills</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#speciality" data-toggle="tab" class="nav-link">Specialities</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#certifications" data-toggle="tab" class="nav-link">Certifications</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#testimonials" data-toggle="tab" class="nav-link">Testimonials</a>
                </li>
              </ul>
          </div>
          <!--Card Header end Here-->

          <!--Card Body HERE-->
          <div class="card-body">
            <!--Table Content Start Here-->
            <div class="tab-content py-4">

              <div class="tab-pane active" id="profile">
                <div class="container">
                  {% for p in p_data%}
                  <!--a href="{% url 'profileUpdate' p.id  %}" class="float-right"><button>Edit</button></a-->
                  <a href="{% url 'profileUpdate' p.id  %}"> <button class="btn btn-primary float-right"> Edit</button></a>
                  {% endfor %}
                  <br><br><br>
                  {% for p in p_data%}
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <label>First Name </label>
                      </div>
                      <div class="col-md-6">
                        {{p.firstName}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Last Name </label>
                      </div>
                      <div class="col-md-6">
                        {{p.lastName}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Email</label>
                      </div>
                      <div class="col-md-6">
                        {{p.email}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label> Alternate Email</label>
                      </div>
                      <div class="col-md-6">
                        {{p.altEmail}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Phone</label>
                      </div>
                      <div class="col-md-6">
                        {{p.phone}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Alternate Phone</label>
                      </div>
                      <div class="col-md-6">
                        {{p.altPhone}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>About Me</label>
                      </div>
                      <div class="col-md-6">
                        {{p.aboutMe}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-4">
                        <label style="font-weight: bold;">Address Details</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Address </label>
                      </div>
                      <div class="col-md-6">
                        {{p.address}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>City</label>
                      </div>
                      <div class="col-md-6">
                        {{p.city}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>State</label>
                      </div>
                      <div class="col-md-6">
                        {{p.state}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Country</label>
                      </div>
                      <div class="col-md-6">
                        {{p.country}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Postal Code</label>
                      </div>
                      <div class="col-md-6">
                        {{p.postalCode}}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>






              <div class="tab-pane" id="education">
                <div class="container">
                    <button type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#eduModal">Add</button>
                    <div class="modal fade" id="eduModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Education</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form method="POST">
                                {% csrf_token %}
                                  <fieldset class="form-group">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ e_form.institute|as_crispy_field}}
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ e_form.degree|as_crispy_field}}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ e_form.branch|as_crispy_field}}
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ e_form.grade|as_crispy_field }}
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ e_form.startDate|as_crispy_field }}
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ e_form.endDate|as_crispy_field }}
                                          </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <div class="form-group">
                                              {{ e_form.description|as_crispy_field  }}
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <center><button class="btn btn-primary float-left" type="submit" name="education_form">ADD</button></center>
                                  </div>
                              </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                          </div>         
                        </div>
                    </div>
                    <br><br>
                  
                    <div class="container mt-3">
                      {% for e in e_data%}
                      <div style="border-style:solid;border-width:1px 6px;color:rgb(150, 17, 150);border-radius: 25px;">
                        <div class="media">
                          <div class="media-body" style="text-align:center;">
                            <h6><a href="{% url 'educationUpdate' e.id  %}" class="float-right" style='font-size:28px;color:black' data-toggle="tooltip" title="Edit">&#9998;</a></h6>
                              <h5 class="media-heading" style="font-weight: bold;">{{e.institute}}</h5> 
                              <h6>{% if e.degree%}{{e.degree}} |{% endif %}    {% if e.branch%}{{e.branch}} |{% endif %} {{e.grade}}</h6>
                              <h6>{{e.startDate}} - {{e.endDate}}</h6>   
                              <h6>{{e.description}}</h6>            
                          </div>
                        </div>
                      </div>
                      <br>
                      {% endfor%}
                    </div>

                  </div>
                </div>















              <div class="tab-pane" id="skills">
                <div class="container">
                    <button type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#skillsModal">Add</button>
                    <div class="modal fade" id="skillsModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Skills</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form method="POST">
                                {% csrf_token %}
                                  <fieldset class="form-group">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ s_form.skill|as_crispy_field}}
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <center><button class="btn btn-primary float-right" type="submit" name="skills_form">ADD</button></center>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br><br>



                    <div class="container mt-3">
                      {% for s in s_data%}
                      <div class="media border p-3">
                        <div class="media-body">
                          <p><a href="{% url 'skillsUpdate' s.id  %}" style='font-size:25px;' data-toggle="tooltip" title="Edit">&#9998;</a></p>
                          <h4>{{s.skill}}</h4>
                        </div>
                      </div>
                      {% endfor%}
                    </div>
                </div>
              </div>





              <div class="tab-pane" id="speciality">
                <div class="container">
                    <button type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#specialityModal">Add</button>
                    <div class="modal fade" id="specialityModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Speciality</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form method="POST">
                                {% csrf_token %}
                                  <fieldset class="form-group">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ spcl_form.speciality|as_crispy_field}}
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <center><button class="btn btn-primary float-right" type="submit" name="speciality_form">ADD</button></center>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="container mt-3">
                      {% for s in spcl_data%}
                      <div class="media border p-3">
                        <div class="media-body">
                          <p><a href="{% url 'specialityUpdate' s.id  %}" style='font-size:25px;' data-toggle="tooltip" title="Edit"> &#9998;</a></p>
                          <h4>{{s.speciality}}</h4>
                        </div>
                      </div>
                      {% endfor%}
                    </div>
                </div>
              </div>




              <div class="tab-pane" id="certifications">
                <div class="container">
                  <button type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#cerModal">Add</button>
                    <div class="modal fade" id="cerModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Certificate</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                  
                              <form method="POST">
                                {% csrf_token %}
                                  <fieldset class="form-group">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ c_form.name|as_crispy_field}}
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ c_form.issuingOrg|as_crispy_field}}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ c_form.issuedDate|as_crispy_field}}
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ c_form.expiryDate|as_crispy_field }}
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ c_form.credentialId|as_crispy_field }}
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ c_form.credentialUrl|as_crispy_field }}
                                          </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <div class="form-group">
                                              {{ c_form.description|as_crispy_field  }}
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <center><button class="btn btn-primary float-right" type="submit" name="certificate_form">ADD</button></center>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br><br><br>

                    <div class="container mt-3">
                      {% for c in c_data%}
                      <div  style="border-style:solid;border-width:1px 6px;color:rgb(150, 17, 150);border-radius: 25px;" >
                        <div class="media">
                          <div class="media-body" style="text-align: center">
                            <a href="{% url 'certificateUpdate' c.id  %}" class="float-right" style='font-size:30px;color:black' data-toggle="tooltip" title="Edit">&#9998;</a>
                            <h5 class="media-heading" style="font-weight: bold;">{{c.name}}</h5>
                            <h5 style="font-weight: bold;">Issued By : {{ c.issuingOrg}}</h5>
                            {% if c.issuedDate and c.expiryDate%}
                              <h6>Issued on {{c.issuedDate}} - Expiration {{c.expiryDate}}</h6> 
                            {% endif %}
                            {% if c.credentialId%}
                              <h6>Credential Id : {{c.credentialId}}</h6>    
                            {% endif%}
                            {% if c.credentialUrl%}
                              <h6> Credentail Url: {{ c.credentialUrl}}</h6> 
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <br>
                      {% endfor%}
                    </div>


                </div>
              </div>




              <div class="tab-pane" id="testimonials">
                <div class="container">
                  <button type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#tModal">Add</button>
                    <div class="modal fade" id="tModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Certificate</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form method="POST">
                                {% csrf_token %}
                                  <fieldset class="form-group">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ t_form.attestant|as_crispy_field}}
                                        </div>
                                      </div>    
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ t_form.designation|as_crispy_field}}
                                        </div>
                                      </div>                            
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ t_form.services|as_crispy_field }}
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          {{ t_form.location|as_crispy_field }}
                                        </div>
                                      </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            {{ t_form.issuedDate|as_crispy_field}}
                                          </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <div class="form-group">
                                              {{ t_form.description|as_crispy_field  }}
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <center><button class="btn btn-primary float-right" type="submit" name="test_form">ADD</button></center>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>

                    <br><br><br>
                    <div class="container mt-3">
                      {% for t in t_data%}
                      <div  style="border-style:solid;border-width:1px 6px;color:rgb(150, 17, 150);border-radius: 25px;" >
                        <div class="media">
                          <div class="media-body" style="padding:10px;color:black">
                            <a href="{% url 'testimonialUpdate' t.id  %}" class="float-right" style='font-size:30px;color:black' data-toggle="tooltip" title="Edit">&#9998;</a>
                            <h4>{{t.attestant}}<small><i> {{t.issuedDate}}</i></small></h4>
                            <p>
                              Designation :{{t.designation}}<br>
                              Location: {{t.location}}<br>
                              Product/Services : {{t.services}}
                              {{t.description}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <br>
                      {% endfor%}
                    </div>
                </div>
              </div>
            </div> 
            <!--Table content end here-->
          </div>
          <!--Card Body end Here-->
        </div>
      </div>


{%endblock%}