{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<style>
	body {
		background: #e8cbc0;
		background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
		background: linear-gradient(to right, #e8cbc0, #636fa4);
		min-height: 100vh;
	}
	
	.social-link {
		width: 30px;
		height: 30px;
		border: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #666;
		border-radius: 50%;
		transition: all 0.3s;
		font-size: 0.9rem;
	}
	
	.social-link:hover, .social-link:focus {
		background: #ddd;
		text-decoration: none;
		color: #555;
	}
	p {
		padding: 0px;
	}
</style>
</head>
<body>
	<div class="container py-5">
		<div class="row text-center text-white">
			<div class="col-lg-8 mx-auto">
				<h1 class="display-4">Team Page</h1>
				<!--<p class="lead mb-0">Using Bootstrap 4 grid and utilities, create a nice team page.</p>
				<p class="lead">Snippet by<a href="https://bootstrapious.com/snippets" class="text-white">
					<u>Bootstrapious</u></a>
				</p> -->
			</div>
		</div>
	</div><!-- End -->
	
	
	<div class="container">
		<div class="row text-center">
	
			<!-- Team item -->
			<div class="col-xl-3 col-sm-6 mb-5">
				<div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/abhiram.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
					<h5 class="mb-0">S Abhiram</h5><span class="small text-uppercase text-muted">FullStack Developer | Python</span>
					<p>Vizag | B-tech 3rd year | ECE</p>
					<p>"The key to successful leadership today is influence not authority"</p>
					<ul class="social mb-0 list-inline mt-3">
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/singuru-abhiram-4610b2190" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/AbhiramSinguru?s=09" class="social-link"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/abhiram_singuru/" class="social-link"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div><!-- End -->
	
			<!-- Team item -->
			<div class="col-xl-3 col-sm-6 mb-5">
				<div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
					<h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
					<ul class="social mb-0 list-inline mt-3">
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div><!-- End -->
	
			<!-- Team item -->
			<div class="col-xl-3 col-sm-6 mb-5">
				<div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
					<h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
					<ul class="social mb-0 list-inline mt-3">
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div><!-- End -->
	
			<!-- Team item -->
			<div class="col-xl-3 col-sm-6 mb-5">
				<div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-7.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
					<h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
					<ul class="social mb-0 list-inline mt-3">
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div><!-- End -->
		</div>
	</div>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>