{% load widget_tweaks %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testimonials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--link rel="stylesheet" type="text/css" href="{% static 'CSS/divbg.css' %}"-->

<style>
    .container {
        background-color:rgb(230, 243, 241);
      }
      .center {
          margin: auto;
          width: 40%;
          padding: 10px;
        }

</style>

</head>
<body>
<div class="center">
    <div class="container">
        <form action="{% url 'testimonial' %}" class="form-horizontal" role="form" method="POST">
            {% csrf_token %}
            <!--<div class="form-group">
                <label for="">Attestant Name</label>
                <input type="text" class="form-control" id="Attestant"  name="Attestant" required>
            </div>
    
            <div class="form-group">
                <label for="">Date</label>
                <input type="date" class="form-control" id="Date" name="Date">
            </div>
    
            <div class="form-group">
                <label for="">Designation</label>
                <input type="text" class="form-control" id="Designation"  name="Designation">
            </div>
    
            <div class="form-group">
                <label for="">Location</label>
                <input type="text" class="form-control" id="Location" name="Location">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div> -->
            <!--input type="submit" value="Testimonials"/-->
            {{ testimonial_form.as_p }}
            <center><button type="submit" class="btn btn-primary" value="Testimonials">Save</button></center>
        </form>
    </div>
</div>
</body>
</html>
