<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:blanchedalmond">
      Profile
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="PersonalDetails.html", target="blank">Personal details</a>
      <a class="dropdown-item" href='Skills.html'>Skills & Specialities</a>
      <a  class="dropdown-item" href="Education.html">Education</a>
      <a class="dropdown-item" href="Certifications.html">Certifications</a>
      <a class="dropdown-item" href="Testimonials.html">Testimonials</a>
      <a class="dropdown-item" href="#", target="blank">Documents</a>
      <a class="dropdown-item" href="#", target="blank">Events</a>
    </div>
  </li>
  </div>  
</nav>
<br>
</body>
</html>


