{% load widget_tweaks %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#education" data-toggle="tab" class="nav-link">Education</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#skills" data-toggle="tab" class="nav-link">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#certifications" data-toggle="tab" class="nav-link">Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#testimonials" data-toggle="tab" class="nav-link">Testimonials</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                          <div class="container">
                              <!-- Trigger the modal with a button -->
                              <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#profileModal">Update</button>

                              <!-- Modal -->
                              <div class="modal fade" id="profileModal" role="dialog">
                                <div class="modal-dialog modal-lg">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Modal Header</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                        <h4 class="modal-title">Hello {{user.username}} update your profile</h4>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="container">
                                                <fieldset class="form-group">
                                                  {{ p_form.as_p }}
                                                </fieldset>
                                                <div class="form-group">
                                                  <center><button class="btn btn-outline-info" type="submit" name="profile_form">Update</button></center>
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>                                
                                </div>
                              </div>
                          </div>
                          {% for p in p_data %}
                                <div class="container">
                                  <label>First Name   :</label>
                                  <label>{{ p.firstName }}</label>
                                </div>
                                <div class="container">
                                  <label>Last Name   :</label>
                                  <label>{{ p.lastName }}</label>
                                </div>
                                <div class="container">
                                  <label>Tag Line  :</label>
                                  <label>{{ p.tagLine}}</label>
                                </div>
                                <div class="container">
                                  <label>status   :</label>
                                  <label>{{ p.status }}</label>
                                </div>
                                <div class="container">
                                  <label>About Me   :</label>
                                  <label>{{ p.status }}</label>
                                </div>
                          {% endfor%}
                    </div>
                    <hr>



                    <div class="tab-pane" id="education">
                        <div class="container">
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#eduModal">Add</button>
        
                            <!-- Modal -->
                            <div class="modal fade" id="eduModal" role="dialog">
                              <div class="modal-dialog modal-lg">
                              
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Education</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                              <h4 class="modal-title">Hello {{user.username}} add your education details here!!!</h4>
                                              <form method="POST" enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <div class="container">
                                                      <fieldset class="form-group">
                                                          {{ e_form.as_p }}
                                                      </fieldset>
                                          
                                                      <div class="form-group">
                                                          <center><button class="btn btn-outline-info" type="submit" name="edu_form">Update</button></center>
                                                      </div>
                                                  </div>
                                              </form>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>  

                        {% for e in e_data%}
                        <div class="container">
                          <label>Institue    :</label>
                          <label>{{ e.institute  }}</label>
                        </div>
                        <div class="container">
                          <label>Degree   :</label>
                          <label>{{ e.degree }}</label>
                        </div>
                        <div class="container">
                          <label>Branch :</label>
                          <label>{{ e.branch}}</label>
                        </div>
                        <div class="container">
                          <label>grade   :</label>
                          <label>{{ e.grade }}</label>
                        </div>
                        <div class="container">
                          
                            <label>Start Date    :</label>  {{e.startDate}}<br>
                            <label>End Date      :</label>  {{e.endDate}}
                    
                        </div>
                        <div class="container">
                            <label>Description   :</label>    {{e.description}}
                        </div>
                        <hr>
                        {% endfor%}

                  </div>






                    <div class="tab-pane" id="skills">
                        <div class="container">
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#skillsModal">Add</button>
      
                          <!-- Modal -->
                          <div class="modal fade" id="skillsModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                            
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Skills</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                            <h4 class="modal-title">Hello {{user.username}} add your skills here!!!</h4>
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="container">
                                                    <fieldset class="form-group">
                                                        {{ s_form.as_p }}
                                                    </fieldset>
                                        
                                                    <div class="form-group">
                                                        <center><button class="btn btn-outline-info" type="submit" name="skills_form">Update</button></center>
                                                    </div>
                                                </div>
                                            </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                            </div>
                          </div>
                      </div>  
                      <label>Skills</label>:
                        {% for s in s_data %}
                          {{s.skill}}
                        {% endfor%}
                      <hr>
                      <label>specialities</label>:
                      {% for s in s_data %}   
                         {{s.speciality}}
                      {% endfor%}




                    </div>




                    <div class="tab-pane" id="certifications">
                        <div class="container">
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#certModal">Add</button>
      
                          <!-- Modal -->
                          <div class="modal fade" id="certModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                            
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Certifications</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                            <h4 class="modal-title">Hello {{user.username}} add your certifications here!!!</h4>
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="container">
                                                    <fieldset class="form-group">
                                                        {{ cer_form.as_p }}
                                                    </fieldset>
                                        
                                                    <div class="form-group">
                                                        <center><button class="btn btn-outline-info" type="submit" name="cert_form">Update</button></center>
                                                    </div>
                                                </div>
                                            </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                            </div>
                          </div>
                      </div>  

                      {% for c in cer_data%}
                        <div class="container">
                          <label>Name :</label>
                          <label>{{ c.name }}</label>
                        </div>
                        <div class="container">
                          <label>Issuging Organization  :</label>
                          <label>{{ c.issuingOrg }}</label>
                        </div>
                        <div class="container">
                          <label>Issued On  :</label>
                          <label>{{ c.issuedDate }}</label>
                        </div>
                        <div class="container">
                          <label>Expiration date :</label>
                          <label>{{ c.expiryDate }}</label>
                        </div>

                        <div class="container">
                          <label>Credential Id :</label>
                          <label>{{ c.credentialId }}</label>
                        </div>

                        <div class="container">
                          <label>Credential URL :</label>
                          <label>{{ c.credentialUrl }}</label>
                        </div>
                        
                        <div class="container">
                            <label>Description   :</label>    {{e.description}}
                        </div>
                        <hr>
                      {% endfor%}  



                    </div>




                    <div class="tab-pane" id="testimonials">

                        <div class="container">
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#testModal">Add</button>
      
                          <!-- Modal -->
                          <div class="modal fade" id="testModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                            
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Testimonials</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                            <h4 class="modal-title">Hello {{user.username}} add your Testimonials here!!!</h4>
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="container">
                                                    <fieldset class="form-group">
                                                        {{ t_form.as_p }}
                                                    </fieldset>
                                        
                                                    <div class="form-group">
                                                        <center><button class="btn btn-outline-info" type="submit" name="test_form">Update</button></center>
                                                    </div>
                                                </div>
                                            </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                            </div>
                          </div>
                      </div>  


                      {% for t in t_data%}
                        <div class="container">
                          <label>attestant  :</label>
                          <label>{{ t.attestant  }}</label>
                        </div>
                
                        <div class="container">
                          <label>Issued On  :</label>
                          <label>{{ t.issuedDate }}</label>
                        </div>
                        <div class="container">
                          <label>Services :</label>
                          <label>{{ t.services }}</label>
                        </div>

                        <div class="container">
                          <label>Designation</label>
                          <label>{{ t.designation }}</label>
                        </div>

                        <div class="container">
                          <label>location</label>
                          <label>{{ c.location }}</label>
                        </div>
                        
                        <div class="container">
                            <label>Description   :</label>    {{e.description}}
                        </div>
                        <hr>
                      {% endfor%}  

                    </div>  
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="{{ user.profile.image.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" style="border-radius: 100%;height:200px;width:200px;">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control">Choose file</span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>
