{% load widget_tweaks %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skills & specialities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!--link rel="stylesheet" type="text/css" href="{% static 'CSS/divbg.css' %}"-->

<style>
    .container {
        background-color:rgb(230, 243, 241);
      }
      .center {
          margin: auto;
          width: 40%;
          padding: 10px;
        }

</style>
</head>
<body>
<div class="center">
    <div class="container">
        <form action="{% url 'skills' %}" class="form-horizontal" role="form" method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="form-group">
                <label for="">Add your skills here</label>
                {% render_field skills_form.skill class="form-control" rows="5" cols="50" attr="value":"{{skill.skills}}"  %}
            </div>
        
            <div class="form-group">
                <label for="">Add your specialities  here</label>
                {% render_field skills_form.speciality class="form-control" rows="5" cols="50" attr="value":"{{skill.specialities}}" %}
            </div>
            <center><button type="submit" class="btn btn-primary" value="Skills">Save</button></center>
        </form>
    </div>
</div>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skills & specialities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
    /* Add styles to the form container */
    .container {
      background-color:rgb(230, 243, 241);
    }
    .center {
        margin: auto;
        width: 40%;
        padding: 10px;
      }
</style>
</head>
<body>
<div class="center">
<div class="container">
    <form action="" class="form-horizontal" role="form" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="">Add your skills here</label>
                <input type="text" class="form-control" id="SKills" placeholder="Ex:Html,Css,C/C++" name="Skills">
            </div>

            <div class="form-group">
                <label for="">Add your specialities  here</label>
                <input type="text" class="form-control" id="speciality" name="speciality">
            </div>
        <center><button type="submit" class="btn btn-primary" value="Skills">Submit</button></center>
    </form>
</div>
</div>
</body>
</html>
-->